body {
    background: #000;
}
.otp-field {
    display: flex;
    margin: 100px;
}

.otp-field input {
    width: 36px;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    border: 2px solid rgb(255, 255, 255, .2);
    background: rgb(100, 100, 100, .2);
    color: red;
    outline: none;
    transition: all 0.2s;
}

.otp-field input:focus {
    border: 3px solid #a527ff;
    box-shadow: 0 0 2px 2px #a527ff6a;
}

.disabled {
    opacity: 0.5;
}

.space {
    margin-right: 1rem !important;
}